<div *ngIf="networkstatus" class="networkstatus">
  Error: Please Check Your Internet Connection.
</div>
<div class="backCover">
  <div class="pageTitle">ISBN BOOK FINDER</div>

  <div class="input-group mb-3 inputbox">
    <input
      type="text"
      class="form-control "
      placeholder="Enter ISBN"
      aria-label="Recipient's username"
      aria-describedby="button-addon2"
      value=""
      #code
    />
    <div class="input-group-append ">
      <button
        class="btn btn-outline-secondary"
        type="button"
        id="button-addon2"
        (click)="number(code)"
      >
        FIND
      </button>
    </div>
  </div>
  <div class="error" *ngIf="error">
    ISBN is Invalid, Please Try Again.
  </div>

  <div class="book">
    <div class="coverimg">
      <div class="coverImage">
        <a>Cover Image:</a>
      </div>
      <img [src]="coverimage || 'assets/andela-book.png'" width="100%" />
    </div>
    <div class="rightbox">
      <div class="Title borbom"><a>Title :</a> {{ title }}</div>
      <div class="borbom">
        <div>
          <a>Authors:</a>
        </div>
        <ul>
          <li *ngFor="let author of authors">{{ author.Name }}</li>
        </ul>
      </div>

      <div class="desc borbom">
        <a>Description :</a>
        {{ description }}
      </div>
    </div>
  </div>
</div>
